nav{
    font-size: 20px;
}
nav li{
    display: inline;
    margin: 0 0 0 30%;
}


body{
    background-color: white;
}

h1{
color: sienna;
}
.oculos{
    width: 200px;
    margin-left: 45%;
}
.img1{
    width: 25%;
    margin-left: 35%;
}
